.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.postLink {
  --elevation: 2px 2px 16px 4px hsl(0deg 0% 0% / 0.2);
  text-decoration: none;
  color: currentColor;
}

.postLink:hover,
.postLink:focus {
  --elevation: 2px 2px 16px 8px hsl(0deg 0% 0% / 0.2);
  transform: scale(1.01);
  transition: transform 200ms ease-in-out;
  will-change: transform;
}
